<style>
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: .5rem;
    padding-right: .5rem;
    margin-bottom: 0px;
}
.copyright{
    background-color: #1A252F;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    color: #fff;
    text-align: center;
    
}


</style>


<div class="copyright">
    <div class="container">
        <small>
            This website is  produced by Furkan Kara. You can send e-mail  softfurkankara@gmail.com for contact.
</small>
</div>
</div>