<style>
     @import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');


.container-fluid {
    overflow: hidden;
    margin-top: 250px;
    background: #262626;
    color: #627482 !important;
    margin-bottom: 0;
    padding-bottom: 0
}

small {
    font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important
}

.bold-text {
    color: #989c9e !important
}

.mt-55 {
    margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important
}

h3 {
    font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important
}

.social {
    font-size: 21px !important
}

.rights {
    font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important
}
.textt{
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        font-family: Copperplate, Papyrus, fantasy;
        font-size:20px;
    }
    .a{
        text-decoration: none;
        
    }
    .a:hover{
        text-decoration: none;
    }
</style>
<!--
    Son Footer CSS

<style>
  .footer{
       width: 100%;
       height:250px;
       background-color: #2C3E50;
       margin-top: 10px;
  }
  .div1{
      width: 45%;
      height: 50px;
      margin-bottom: 5px;
      margin-top: 15px; 
      margin-left: 20px;
      float: left;
  }
  .div2{
      width: 45%;
      height: 50px;
      margin-bottom: 5px;
      margin-top: 15px; 
      margin-left: 20px;
      float: right;
  }
  @media screen and(max-width:705px){
        .footer{
            height: auto;
        }
        .div1{
            width: 45%;
        height: auto;
        background-color: #2C3E50;
        float: left;
        margin-right: 40px;
        padding-top: 40px;
        }
        .div2{
            width: 45%;
        height: auto;
        background-color: #2C3E50;
        float: right;
        margin-right: 40px;
        padding-top: 40px;
        }
    }
  .text{
      font-family: sans-serif;
      font-size: 20px; 
      color: white;
      font-style: normal; 
      text-align: center;
  }
  .ul{
      list-style: none; 
      text-align: center;
  }
  .li{
     display: inline-block;
     margin-right: 1rem;
  }
  .div2 a{
     color: white;
     border: 3px solid #18BC9C;
     border-radius: 50%;
     font-size: 60px;
      transition: background-color 2s;
  }
  .div2 a:hover{
     background-color: #18BC9C;
  
  }
  
</style>
-->
<!--<style>
    .footer {
        width: 100%;
        height: auto;
        background-color: #2C3E50;
        display: inline-block;
        margin-top: 20px;
     
    }

    .wind1 {
        width: 45%;
        height: auto;
        background-color: #2C3E50;
        float: left;
        margin-right: 40px;
        padding-top: 40px;


    }

    .wind1 p {
        font-family: sans-serif;
        font-size: 20px;
        color: white;
        font-style: normal;
        text-align: center;
    }

    .wind2 {
        width: 40%;
        background-color: #2C3E50;
        height: auto;
        float: right;
        margin-right: auto;
        margin-left: auto;
        padding-top: 40px;
    }

    .wind2 p {
        font-family: sans-serif;
        font-size: 20px;
        color: white;
        font-style: normal;
        text-align: center;
    }

    .ul {
        list-style: none;
        text-align: center;
    }

    .li {
        display: inline-block;
        margin-right: 1rem;
    }

    .wind2 a {
        color: white;
        border: 3px solid #18BC9C;
        border-radius: 50%;
        font-size: 60px;
        transition: background-color 2s;
    }

    .wind2 a:hover {
        background-color: #18BC9C;

    }

    @media screen and(max-width:705px) {
        .wind1 {
            width: 100%;
            height: auto;
            background-color: #2C3E50;
            float: inherit;
            margin-right: auto;
            margin-left: auto;

        }
        .wind2{
             width: 100%;
            height: auto;
            background-color: #2C3E50;
            float: inherit;
            margin-right: auto;
            margin-left: auto;
        }
    }

</style>-->

<!-- B SON FOOTER

<footer class="footer">
            
        
  <div class="div1">
      <p class="text" >İletişim</p>
      <hr style="width: 300px;">
      <p class="text" >Yasin Kara</p>
      <p class="text">yasekra57@gmail.com</p>
  </div>
  <div class="div2">
      <p class="text">Bağlantılar</p>
      <hr style="width: 300px; color: white;">
      <ul class="ul">
          <li class="li">
               <a href="">
                    <i class="fab fa-facebook-f"  style="width: 5rem;
height:10rem;"></i>
                </a>
          
          </li>
          
          <li class="li">
                <a href="https://www.youtube.com/channel/UCWmoTRedHtRtMWTMpEJWUNw" >
                     <i class="fab fa-youtube" style="width: 5rem;
height:5rem; " ></i>
                </a>
           </li>
           <li class="li">
                <a href="https://www.instagram.com/yektugmat/">
                  <i class="fab fa-instagram" style="width: 5rem;
height:5rem;"></i>
                </a>
           </li>
      </ul>
      
  </div>
</footer>
-->
<!--
<footer>
    <div class="footer">
        <div class="wind1">
            <p>İletişim</p>
            <hr style="width: 300px;">
            <p>Yasin Kara</p>
            <p>yasekra57@gmail.com</p>
        </div>
        <div class="wind2">
            <p>Bağlantılar</p>
            <hr style="width: 300px;">
            <ul class="ul">
                <li class="li">
                    <a href="">
                        <i class="fab fa-facebook-f" style="width: 5rem;
height:10rem;"></i>
                    </a>

                </li>

                <li class="li">
                    <a href="https://www.youtube.com/channel/UCWmoTRedHtRtMWTMpEJWUNw">
                        <i class="fab fa-youtube" style="width: 5rem;
height:5rem; "></i>
                    </a>
                </li>
                <li class="li">
                    <a href="https://www.instagram.com/yektugmat/">
                        <i class="fab fa-instagram" style="width: 5rem;
height:5rem;"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>-->
<div class="container-fluid pb-0 mb-0 justify-content-center text-light ">
    <footer>
        <div class="row my-5 justify-content-center py-5">
            <div class="col-11">
                <div class="row ">
                    <div class="col-xl-8 col-md-4 col-sm-4 col-12 my-auto mx-auto a">
                        <h3 class="text-muted mb-md-0 mb-5 bold-text">YEKTUG MAT</h3>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                        <h6 class="mb-3 mb-lg-4 bold-text "><b>MENU</b></h6>
                        <ul class="list-unstyled">
                            <li><a href="/" class="a">Anasayfa</a></li>
                            <li><a href="/about"class="a">Hakkımda</a></li>
                            <li><a href="/ders"class="a">Dersler</a></li>
                            <li><a href="/problem"class="a">Problem Soru Bankası Çözümleri</a></li>
                        </ul>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                        <h6 class="mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5"><b>ADDRESS</b></h6>
                        <p class="mb-1">İstanbul/Sultanbeyli</p>
                        
                    </div>
                </div>
                <div class="row ">
                    <div class="col-xl-8 col-md-4 col-sm-4 col-auto my-md-0 mt-5 order-sm-1 order-3 align-self-end">
                        <p class="social text-muted mb-0 pb-0 bold-text">
                            <a href="https://www.facebook.com/yektug.mat/">
                                <span class="mx-2"><i class="fa fa-facebook" aria-hidden="true"></i></span> </a>
                            <a href="https://www.youtube.com/channel/UCWmoTRedHtRtMWTMpEJWUNw">
                                <span class="mx-2"><i class="fa fa-youtube" aria-hidden="true"></i></span> </a> 
                            <a href="https://www.instagram.com/yektugmat/">
                                <span class="mx-2"><i class="fa fa-instagram" aria-hidden="true"></i></span>
                            </a>
                            
                            
                            </p><small class="rights"><span>&#174;</span> Pepper All Rights Reserved.</small>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-1 align-self-end ">
                        <h6 class="mt-55 mt-2 text-muted bold-text"><b>Yasin KARA</b></h6><small> <span><i class="fa fa-envelope" aria-hidden="true"></i></span> yasekra57@gmail.com</small>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-2 align-self-end mt-3 ">
                        <h6 class="text-muted bold-text"><b>Furkan KARA</b></h6><small><span><i class="fa fa-envelope" aria-hidden="true"></i></span> softfurkankara@gmail.com</small>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>